.app-header h3{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    margin: 10px;
}
