<div class="app-header">
    <h3>My ToDo List</h3>
    <div class="social-media">
        <button style="background-color: #333333;border-color: #333333;" class="btn btn-primary"><a style="color: white;" target="_blank" href="{{ githubUrl }}"><i class="bi bi-github"></i></a></button>
        <button style="background-color: #0A66C2;border-color: #0A66C2;" class="btn btn-primary"><a style="color: white;" target="_blank" href="{{ linkedinUrl }}"><i class="bi bi-linkedin"></i></a></button>
        <button style="background-color: #833AB4;border-color: #833AB4;" class="btn btn-primary"><a style="color: white;" target="_blank" href="{{ instagramUrl }}"><i class="bi bi-instagram"></i></a></button>
        <button style="background-color: #e22323;border-color: #e22323;" class="btn btn-primary"><a style="color: white;" target="_blank" href="{{ emailUrl }}"><i class="bi bi-envelope-fill"></i></a></button>
    </div>
</div>