<div class="app-header">
    <h3>My ToDo List</h3>
    <div class="social-media">
        <a style="color: white;" target="_blank" href="{{ githubUrl }}"><button style="background-color: #333333;border-color: #333333;" class="btn btn-primary"><i class="bi bi-github"></i></button></a>
        <a style="color: white;" target="_blank" href="{{ linkedinUrl }}"><button style="background-color: #0A66C2;border-color: #0A66C2;" class="btn btn-primary"><i class="bi bi-linkedin"></i></button></a>
        <a style="color: white;" target="_blank" href="{{ instagramUrl }}"><button style="background-color: #833AB4;border-color: #833AB4;" class="btn btn-primary"><i class="bi bi-instagram"></i></button></a>
        <a style="color: white;" target="_blank" href="{{ emailUrl }}"><button style="background-color: #e22323;border-color: #e22323;" class="btn btn-primary"><i class="bi bi-envelope-fill"></i></button></a>
    </div>
</div>