.app-todo{
    margin: 40px;
}

.inputGroup{
    margin-bottom: 20px;
    width: 85%;
    margin: auto;
}

.todosGroup{
    margin-top: 20px;
}

.list-group div span{
  position: absolute;
  top: -5px;
  right: 5px;
  padding: 0.75rem 0.25rem;
  color: inherit;
}
